doctype=html
html
    head
        link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap', rel='stylesheet')
        link(rel='stylesheet', href='CSS/style.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css')

    body
        block header
            include nav
        block content 
            h1 Placeholder
        include footer    
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js")
        script(src="js/frontend.js")
        script(src="js/script.js")
