section.footer
  .footer_head
    ul.footer-a
      li.footer-deets
        a.footer-link(href='#') Home
      li.footer-deets
        a.footer-link(href='#') IOS app
      li.footer-deets
        a.footer-link(href='#') Android app
    ul.footer-a
      li.footer-deets
        a.footer-link(href='facebook.com')
          i.fab.fa-facebook
      li.footer-deets
        a.footer-link(href='instagram.com')
          i.fab.fa-instagram
      li.footer-deets
        a.footer-link(href='twitter.com')
          i.fab.fa-twitter
  br
  p.copyright ©copyright 2020
  br
