extend base
block content
    section.fp
        h2.fp-heading Forgot password?
        form.fp-form(action='')
            label(for='email') Email
            input.login-details(type='email', name='', id='email', placeholder='abc@abc.com')
            br
            br
            button.forgetPassword-button(type="submit") Submit
            